# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.env
.venv/
venv/
*.db

# Node
node_modules/
dist/
.env

# Docker
.dockerignore
docker-compose.override.yml
*.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
*.tfvars